In [1]:
import numpy as np
import pandas as pd

In [2]:
df_faf2012=pd.read_csv("faf35_provisional_2012_state.csv")

In [3]:
df_faf2012=df_faf2012[df_faf2012['value_2012']!=0]

In [4]:
df_faf2012=df_faf2012.fillna(0)

In [5]:
df_faf2012=df_faf2012.drop("curval_2012",axis=1)

In [6]:
df_faf2012["value_2012"]=df_faf2012["value_2012"]*(10**6)

In [7]:
df_faf2012["tons_2012"]=df_faf2012["tons_2012"]*(10**3)

In [8]:
df_faf2012["tmiles_2012"]=df_faf2012["tmiles_2012"]*(10**6)

In [9]:
df_faf2012.columns

Index(['fr_orig', 'dms_origst', 'dms_destst', 'fr_dest', 'fr_inmode',
       'dms_mode', 'fr_outmode', 'sctg2', 'trade_type', 'value_2012',
       'tons_2012', 'tmiles_2012'],
      dtype='object')

In [73]:
df_faf2012

,fr_orig,dms_origst,dms_destst,fr_dest,fr_inmode,dms_mode,fr_outmode,sctg2,trade_type,value_2012,tons_2012,tmiles_2012
0,0.0,1,1,0.0,0.0,1,0.0,1,1,1.298419e+09,1206111.5,1.202242e+08
1,0.0,1,1,0.0,0.0,1,0.0,2,1,4.859232e+08,2560656.6,2.398065e+08
2,0.0,1,1,0.0,0.0,1,0.0,3,1,1.031411e+09,2799152.8,2.386177e+08
3,0.0,1,1,0.0,0.0,1,0.0,4,1,7.531903e+08,3095777.6,2.769346e+08
4,0.0,1,1,0.0,0.0,1,0.0,5,1,2.130668e+09,911745.5,6.706868e+07
...,...,...,...,...,...,...,...,...,...,...,...,...
549127,808.0,53,56,0.0,5.0,1,0.0,26,2,2.000000e+03,0.4,3.960600e+02
549128,808.0,53,56,0.0,5.0,1,0.0,30,2,2.500000e+03,0.1,9.880000e+01
549129,808.0,53,56,0.0,5.0,1,0.0,33,2,4.000000e+03,1.9,1.882490e+03
549130,808.0,53,56,0.0,5.0,1,0.0,34,2,1.869000e+05,34.7,3.358560e+04
549131,808.0,53,56,0.0,5.0,1,0.0,39,2,2.100000e+03,1.3,1.287920e+03

In [74]:
from scipy.stats import levene

In [80]:
levene(df_faf2012["value_2012"],df_faf2012["tons_2012"])

LeveneResult(statistic=2015.07786951574, pvalue=0.0)

In [81]:
levene(df_faf2012["value_2012"],df_faf2012["tmiles_2012"])

LeveneResult(statistic=648.0368372639188, pvalue=6.632324770162588e-143)

In [82]:
from scipy.stats import f_oneway
f_oneway(df_faf2012["sctg2"],df_faf2012["value_2012"])

F_onewayResult(statistic=2022.5916385330343, pvalue=0.0)

In [83]:
from scipy.stats import f_oneway
f_oneway(df_faf2012["dms_origst"],df_faf2012["value_2012"])

F_onewayResult(statistic=2022.591309813595, pvalue=0.0)

In [11]:
df_faf2012["tmiles_2012"].max()

107163382200.0